$colors: (
    lay-primary:#5541D7,
    lay-secondary:#E2E2EA,
    lay-light:#E2E2EA,
    primary:#11142D,
    secondary:#42BDA1,
    light:#92929D
);

$font-sizes: (
    xxlarge:2rem,
    xlarge:1.8rem,
    large: 1.5rem,
    medium: 1.2rem,
    small: 1.1rem,
    xsmall:1rem
);
$menu-image-width: 1.6rem;
$menu-width: 5rem;