@import '_variables';

@each $color-name,
$color-value in $colors {
    .loc-bg-#{$color-name} {
        background-color: $color-value;
    }

    .loc-color-#{$color-name} {
        color: $color-value;
    }
}

@each $size-name,
$size-value in $font-sizes {
    .loc-text-#{$size-name} {
        font-size: $size-value;
    }
}

p {
    padding: 0px;
    margin: 0px;
}

button {
    border: none;


}

img {
    object-fit: cover;
}

.loc-nav {
    width: $menu-width;
    min-height: calc(100vh - 100px);

}

.layout-child {
    max-width: calc(100vw - $menu-width);
}


.layout {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .main {
        flex: 1;
        /* Make the container fill the remaining vertical space */

        overflow: hidden;
        /* Hide any overflow content outside the container */
    }
}

.menu {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
        margin: 0.5rem 0.8rem;
        cursor: pointer;

        img {
            width: $menu-image-width;
            height: $menu-image-width;
            margin: 0.7rem 0rem;

        }

        &:hover {
            background-color: map-get($colors, lay-light);
        }
    }



    .selected {
        background-color: map-get($colors, lay-primary);



    }

    & .unselected {
        background-color: white;
    }
}

input {
    width: 100% !important;

    &:focus {
        outline: none;
    }
}


.product-card {
    border-color: #DBD7F4;

    img {
        height: 12rem;

    }
}


.orders-table {
    min-width: 600px;
}

.icon {
    object-fit: contain !important;
    height: 3rem;
    width: 3rem;
}

.chip {
    &.disable {
        background: #F1F1F6;

        p {
            color: #9A9AB0;
        }
    }

    &.primary {
        background: #DBD7F4;

        p {
            color: #2A23C2;
        }
    }

    &.success {
        background: #D9F2EC;

        p {
            color: #3CAA91;
        }
    }

    &.warning {
        background: #FCE7CF;

        p {
            color: #EEAF22;
        }
    }

    &.outline {
        background: white;
        border: 1px solid #2A23C2;

        p {
            color: #2A23C2;
        }
    }


}








#fileInput {
    display: none;
}

#customLabel {
    display: inline-block;
    background-color: #5541D7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Show the button text */
#customLabel span {
    display: inline-block;
}

/* Remove default label styles */
#customLabel::after {
    content: none;
}

.border-primary {
    border-color: #2A23C2;
}