@font-face {
    font-family: mulish;
    src: url("../public/fonts/Mulish-Regular.ttf");
}

@font-face {
    font-family: mulish-bold;
    src: url("../public/fonts/Mulish-Bold.ttf");
}

@font-face {
    font-family: mulish-light;
    src: url("../public/fonts/Mulish-ExtraLight.ttf");
}

* {
    font-family: mulish;
}